:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  margin-block: 1rem;
  max-height: 400px;
}

.todo-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px #0004;
  padding: 0.5rem 1rem;
}

h3 {
  font-weight: 400;
}
